<p style="color: green"><%= notice %></p>

<%= render @items_group %>

<div>
  <%= link_to "Edit", edit_items_group_path(@items_group), class: "button" %>
  <%= link_to "Back", items_groups_path, class: "button" %>

  <%= button_to "Destroy", @items_group, method: :delete, class: "button"  %>
</div>
