<p style="color: green"><%= notice %></p>

<h1>Templates</h1>

<%= link_to "New Template", new_template_path, class: "button" %>
<div class="sort-dropdown">
  <%= form_with url: templates_path, method: :get, local: true do %>
    <%= select_tag :sort, options_for_select([['Sort by Things', 'things'], ['Sort by Items', 'items'], ['Sort by Rules', 'rules'], ['Show All', 'all']], selected: params[:sort]), include_blank: 'Select sort option', class: 'sort-select' %>
    <%= submit_tag 'Sort', class: 'button small' %>
  <% end %>
</div>

<div id="templates">
  <% @templates.each do |template| %>
    <div class="template-container">
      <%= render template %>
      <p>
        <%= link_to "Show", template, class: "button" %>
      </p>
    </div>
  <% end %>
</div>
