<p style="color: green"><%= notice %></p>

<%= render @template %>

<div>
  <%= link_to "Edit", edit_template_path(@template), class: "button" %> |
  <%= link_to "Back", templates_path, class: "button" %>

  <%= button_to "Destroy this template", @template, method: :delete %>
</div>
