<form action="/datafile/<%= params[:id] %>" method="post">
  <div class="mb-3">
    <label for="title_datafile" class="form-label">title：<%= @title_datafile %></label>
  </div>
  <div class="mb-3">
    <label for="table" class="form-label">spreadsheet</label>
    <textarea id="table" name="table" class="form-control"><%= @table %></textarea>
  </div>
  <div class="mb-3">
    <label for="title_template" class="form-label">code</label>
    <select id="title_template" name="title_template" class="form-control">
      <option value="">code</option>
      <% @template.each do |template| %>
        <option value="<%= template["title_template"] %>"><%= template["title_template"] %></option>
      <% end %>
    </select>
  </div>
  <div>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="submit" class="btn btn-primary">
  </div>
</form>
<div>
  <a class="btn btn-secondary" href="/datafile/<%= params[:id] %>">back</a>
</div>
