<form action="/datafile/<%= params[:id] %>" method="post">
  <div class="mb-3">
    <label for="title_datafile" class="form-label">title</label>
    <input type="text" id="title_datafile" name="title_datafile" value="<%= @title_datafile %>" class="form-control">
  </div>
  <div class="mb-3">
    <label for="table" class="form-label">Spreadsheet</label>
      <table class="table">
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Label</th>
            <th>Icon</th>
          </tr>
        </thead>
      <tbody>
        <% @table["data"].each do |row| %>
          <tr>
            <td><input type="text" name="itemID[]" value="<%= row['itemID'] %>" class="form-control"></td>
            <td><input type="text" name="label[]" value="<%= row['label'] %>" class="form-control"></td>
            <td><input type="text" name="icon[]" value="<%= row['icon'] %>" class="form-control"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mb-3">
    <label for="title_template" class="form-label">code</label>
    <select id="title_template" name="title_template" class="form-control">
      <option value="">code</option>
      <% @template.each do |template| %>
        <option value="<%= template["title_template"] %>"><%= template["title_template"] %></option>
      <% end %>
    </select>
  </div>
  <div>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="submit" class="btn btn-primary">
  </div>
</form>
<div>
  <a class="btn btn-secondary" href="/datafile/<%= params[:id] %>">back</a>
</div>
