<% if notice %>
  <div class="notice"><%= notice %></div>
<% end %>

<h1 class="page-title">アイテム詳細</h1>

<%= render @item %>

<div class="action-links">
  <%= link_to "編集", edit_item_path(@item), class: "button" %>
  <%= link_to "一覧に戻る", items_path, class: "button secondary" %>
  
  <%= button_to "削除", @item,
        method: :delete,
        data: { turbo_confirm: "本当にこのアイテムを削除しますか？この操作は取り消せません。" },
        class: "delete-button" %>
</div>

